<h1>About</h1>
<div>
	<p>More content coming soon! If you can't wait, learn more about us <a href='https://github.com/RSchneyer/scoutingfrc'>here</a>!</p>
</div>
<!-- <div layout='row'> -->
	<!-- <md-button class='md-raised' ng-click='counter = counter - 1'>-</md-button> -->
	<!-- <md-input-container> -->
		<!-- <label>Label Here</label> -->
		<!-- <input type='number' min="0" max='100000'ng-model='counter'> -->
	<!-- </md-input-container> -->
	<!-- <md-button class='md-raised' ng-click='counter = counter + 1'>+</md-button> -->
<!-- </div> -->

<!-- <span>{{counter}}</span> -->