<md-card>
    <md-card-title style="padding:15px">
        <md-card-title-text>
            <span class='md-title'>About the ScoutingFRC Team</span>
        </md-card-title-text><br>
    </md-card-title>
    <md-card-content>
    	<p>For now, more information about us can be found at our github: <a href='https://github.com/RSchneyer/scoutingfrc/blob/master/README.md'>About us</a></p>
		<br>
		<p>Email us any questions/suggestions at scoutingfrcweb@gmail.com</p>
		<br>
		<p>v0.4.0 as of 2/7/2018</p>
    </md-card-content>
</md-card>