body{
	font-family: 'Roboto', sans-serif;
}

.md-icon-36{
	font-size: 36px;
}
/*div.counter{
	padding: 15px;
	display: inline-block;
}*/
#wrapper {
	height: 85px;
  text-align: center;
}
/* Styles used for the counter. */
.counter-container .counter-plus {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
	font-size: 35px;
    background: #3F51B5;
    color: white;
    padding: 5px 30px;
    text-decoration: none;
	border-radius: 4px;
	
}
.counter-container .counter-minus {
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
	font-size: 35px;
    background: #3F51B5;
    color: white;
    padding: 5px 30px;
    text-decoration: none;
	margin-right: 4px;
	border-radius: 4px;
}

.counter-container .counter-field {
	font-size: 35px;
    text-align: center;
    width: 30%;
	border: solid;
	border-width: 1px;
	border-color:grey;
	padding: 4px 0px;
	margin: 0px 5%;
	border-radius: 4px;
}