 <md-card>
    <md-card-title style="padding:15px">
        <md-card-title-text>
            <span class='md-title'>Auto Scouting</span>
        </md-card-title-text><br>
    </md-card-title>
    <md-card-content>
        
		<md-card-actions layout='row' layout-align='start start'>
			<md-button ng-click='pressedStartMatch()'>Start Match</md-button>
		</md-card-actions><br>
		<md-checkbox ng-model="autoCross" class="md-primary" aria-label="Checkbox 1" class="flex-33">
            Crossed Auto Line
        </md-checkbox><br>
		<md-input-container class="md-block">
			<label>Auto Cube Placement</label>
			<md-select ng-model="CubeAutoLoca" class="md-no-underline">
				<md-option value="notry">No Cube Attempt</md-option>
				<md-option value="lowtry">Attempted Switch</md-option>
				<md-option value="hightry">Attempted Scale</md-option>
				<md-option value="lowsuccess">Successful Switch</md-option>
				<md-option value="highsuccess">Successful Scale</md-option>
			</md-select>
		</md-input-container>
		<md-checkbox ng-model="autoWrongCube" class="md-primary" aria-label="Checkbox 1" class="flex-33">
            Cube on the Wrong Side of Scale/Switch
        </md-checkbox>
		<!-- TODO - Need to figure out better label -->
    </md-card-content>
    <md-card-actions layout='row' layout-align='end end'>
        <md-button ng-click='autoBack()'>Back</md-button>
        <md-button ng-click='autoNext()'>Next</md-button>
    </md-card-actions>
</md-card>
