 <md-card>
    <md-card-title style="padding:15px">
        <md-card-title-text>
            <span class='md-title'>End Game Scouting</span>
        </md-card-title-text><br>
    </md-card-title>
    <md-card-content>
		<md-input-container class="md-block">
			<md-select ng-model="endClimb" class="md-no-underline">
				<label>End Game</label>
				<md-option value="noTryPark">Not Parked on Platform</md-option>
				<md-option value="parked">Parked on Platform</md-option>
				<md-option value="atmptHook">Attempted to Hook onto Bar</md-option>
				<md-option value="atmptAttach">Attempted to Attach to a Robot</md-option>
				<md-option value="atmptCarry">Attempted to Carry a Robot</md-option>
				<md-option value="atmptclimb">Hooked bar and Attempted Climb</md-option>
				<md-option value="successAttach">Successful Climb on Another Robot</md-option>
				<md-option value="successCarry">Successful Climb with Another Robot Attached</md-option>
				<md-option value="successSolo">Successful Climb on Own</md-option>
			</md-select><br>
		</md-input-container>
		<md-input-container class="md-block">
			<md-select ng-model="climbLoca" class="md-no-underline">
				<label>Climb Location(From Alliance Driver Station)</label>
				<md-option value="notry">No Attempt</md-option>
				<md-option value="left">Left</md-option>
				<md-option value="center">Center</md-option>
				<md-option value="right">Right</md-option>
			</md-select>
		</md-input-container><br>
		<md-checkbox ng-model="defender"  aria-label="Checkbox 1" style="margin-bottom:34px;margin-top:10px;">
            Defended Against Opponents
        </md-checkbox><br>
		<md-checkbox ng-model="defended"  aria-label="Checkbox 1">
            Defense Played Against Them
        </md-checkbox>
    </md-card-content>
    <md-card-actions layout='row' layout-align='end end'>
        <md-button ng-click='autoNext()'>Back</md-button>
        <md-button ng-click='checkSubmit()'>Submit</md-button>
    </md-card-actions>
</md-card>