 <md-card>
    <md-card-title>
        <md-card-title-text>
            <span class='md-headline'>End Game Scouting</span>
        </md-card-title-text><br>
    </md-card-title>
    <md-card-content>	
		<md-radio-group ng-model="endClimb" class="flex">
			<label style="font-weight:bold;">End Game</label><!-- should this be a drop-down? -->
			<md-radio-button value="noTryPark" class="md-primary">Not Parked on Platform</md-radio-button>
			<md-radio-button value="parked" class="md-primary">Parked on Platform</md-radio-button>
			<md-radio-button value="atmptHook" class="md-primary">Attempted to Hook onto Bar</md-radio-button>
			<md-radio-button value="atmptAttach" class="md-primary">Attempted to Attach to a Robot</md-radio-button>
			<md-radio-button value="atmptCarry" class="md-primary">Attempted to Carry a Robot</md-radio-button>
			<md-radio-button value="atmptclimb" class="md-primary">Hooked bar and Attempted Climb</md-radio-button>
			<md-radio-button value="successAttach" class="md-primary">Successful Climb on Another Robot</md-radio-button>
			<md-radio-button value="successCarry" class="md-primary">Successful Climb with Another Robot Attached</md-radio-button>
			<md-radio-button value="successSolo" class="md-primary">Successful Climb on Own</md-radio-button>
		</md-radio-group><br>
		<md-radio-group ng-model="climbLoca" class="flex">
			<label style="font-weight:bold;">Climb Location(From Alliance Driver Station)</label>
			<md-radio-button value="notry" class="md-primary">No Attempt</md-radio-button>
			<md-radio-button value="left" class="md-primary">Left</md-radio-button>
			<md-radio-button value="center" class="md-primary">Center</md-radio-button>
			<md-radio-button value="right" class="md-primary">Right</md-radio-button>
		</md-radio-group><br>
		<md-checkbox ng-model="defender" class="md-primary" aria-label="Checkbox 1" class="flex-33">
            Defended Against Opponents
        </md-checkbox>
		<md-checkbox ng-model="defended" class="md-primary" aria-label="Checkbox 1" class="flex-33">
            Defense Played Against Them
        </md-checkbox>
    </md-card-content>
    <md-card-actions layout='row' layout-align='end end'>
        <md-button ng-click='autoNext()'>Back</md-button>
        <md-button ng-click='checkSubmit()'>Submit</md-button>
    </md-card-actions>
</md-card>