<md-card ng-show="loggedIn">
    <md-card-title>
        <md-card-title-text>
            <span class='md-headline'>Load team info to DB</span>
            <span class='md-subline'>Selected Team: {{teamData.nickname}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-input-container>
            <label>Team Number</label>
            <input type='number' ng-model='loadTeamNumber'>
        </md-input-container>
    </md-card-content>
    <md-card-actions layout='row' layout-align='end end'>
        <md-button ng-click='loadTeamData()'>Load</md-button>
    </md-card-actions>
</md-card>