<md-card ng-show="authStatus">
    <md-card-title>
        <md-card-title-text>
            <span class='md-headline'>Input Team Number</span>
            <span class='md-subline'>Selected Team: {{teamData.nickname}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-input-container>
            <label>Desired Team</label>
            <input type='number' ng-model='frcTeam'>
        </md-input-container>
    </md-card-content>
    <md-card-actions layout='row' layout-align='end end'>
        <md-button ng-click='getTeamData()'>Submit</md-button>
    </md-card-actions>
</md-card>