<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class='md-headline'>Team Stats</span>
<!--            <span class='md-subline'>Selected Team: {{teamData.nickname}}</span>-->
        </md-card-title-text><br>
    </md-card-title>
    <md-card-content>
        <md-input-container>
            <label>Team Number</label>
            <input type='number' ng-model='teamStatNum'>
        </md-input-container>
        <!--
			TODO - make this autoload with js for competitions that match the team
            TODO - make match numbers autoload from team and competition
			https://material.angularjs.org/latest/demo/input
		-->
		<md-input-container class="md-block" flex-gt-sm="">
            <label>Competition</label>
            <md-select ng-model="statTeamCompetition" class="md-no-underline" ng-change="calculateAverage()">
                <md-option value="all">All Season</md-option>
				<md-option value="iacf">Iowa Regional</md-option>
				<md-option value="mokc2">Heartland Regional</md-option>
				<md-option value="ndgf">Great Northern Regional</md-option>
				<md-option value="00aaTest">Test Regional</md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="">
            <label>Match</label>
            <md-select ng-model="statMatchNum" class="md-no-underline" ng-change="calculateAverage()">
                <md-option value="all">All matches</md-option>
            </md-select>
        </md-input-container>
    </md-card-content>
</md-card>
